@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Handjet&family=Outfit:wght@300&family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 100%;
    margin: auto;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
}

.title {
    text-align: center;
    padding: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 100%); 
}

/*Buttons display : */
.button-container {
    display: flex;
    justify-content:center;
    padding: 20px 0;
}

.Mybtn {
    background-color:transparent; 
    border: 2px solid yellow; 
    border-radius: 20px; 
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
}


.btn:hover {
    background-color: hsl(215, 51%, 70%);
}

/* Characters display : */
#characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 20px;
}

.character-card {
    background-color: hsl(216, 50%, 16%);
    color: hsl(0, 0%, 100%);
    width: 45%;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px hsl(215, 32%, 27%);
}

